extends ../layouts/common.pug
block content
  h1 
    span.mr-3 Users
    a.btn.btn-primary(href="/banh/create") New
  .d-flex.align-items-center
    form.ml-auto(action="/banh/search", method="GET" class="d-flex")
        input(type="text", name="q", class="form-control")
        button(class="btn btn-primary", style="margin-left:10px") Search
  table.table
    tr
      th Avatar
      th Name
      th Phone
      th Actions
    each keo in test
      tr
        td
          img(src= keo.avatar, width="60")
        td= keo.name
        td= keo.phone
        td
          a.btn.btn-light(href='/banh/'+ keo.id) View
      